$color-orange: #f98a09;
.main {
  // background: url('../files/tick.svg') $color-orange;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*
--------------------
Modules
--------------------
*/
@import "../modules/*/css/global.scss";
